@import "../abstracts/mixin", "../abstracts/variables";

.section-calendar {
  .calendar__usage {
    font-weight: 700;
    padding: $padding01;
    margin: $margin-bottom01 0;
    font-size: $font-size-sm2;
    .usage__current {
      display: flex;
      justify-content: space-between;
      margin-bottom: $margin-bottom01;
      .current__total {
        @include profitOrLoss;
      }
    }
    .usage__prev {
      display: flex;
      justify-content: space-between;
      .prev__title {
        font-weight: 300;
        color: $color-grey03;
      }
      .prev__total,
      .prev__compare {
        @include profitOrLoss;
      }
    }
  }
  .calendar__template {
    width: 100%;
    .template__weeks {
      display: flex;
      padding: 0;
      .week {
        font-size: $font-size-sm3;
        width: calc(100% / 7);
        text-align: center;
        border-top: solid 1px $color-grey01;
        border-bottom: solid 1px $color-grey01;
        padding: $padding-em01 0;
        margin-bottom: 0;
        &:nth-child(7n + 1) {
          color: $color-light-red;
          // background-color: $color-grey01;
        }
        &:nth-child(7n) {
          color: $color-light-blue;
          // background-color: $color-grey01;
        }
      }
    }

    .template__date-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      height: 390px;
      .date-container__date {
        width: calc(100% / 7);
        border-bottom: solid 1px $color-grey01;
        padding: 2px;
        margin-bottom: 0;
        &.selected{
          .date__inner{
            background-color: $color-light-blue;
          }
        }
        .date__inner {
          color: $color-grey01;
          font-size: $font-size-sm3;
          
          width: 100%;
          height: 100%;
          padding: 2px;
          border-radius: $border-radius01;
          .date {
            margin-bottom: 3px;
          }
          .usage{
            font-size: $font-size-sm;
          }
          &.today {
            border: solid 2px $color-blue;
          }
          &.current {
            color: $color-black;
            &.sunday {
              color: $color-red;
            }
            &.saturday {
              color: $color-blue;
            }
          }
        }
      }
    }
  }

  .calendar__history {
    margin-top: $margin-bottom01;
    width: 100%;
    .history__list {
      width: 100%;
      padding: $padding01;
      padding-left: 0;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: scroll;

      .list__item {
        width: 100%;
        font-size: $font-size-sm3;
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: $padding-em02;
        margin-bottom: 1em;
        .item__tag {
          position: absolute;
          left: 0;
          content: "";
          width: 3px;
          height: 20px;
          background-color: $color-tag-black;
        }
        .item__type,
        .item__tag-name {
          width: 32px;
          flex-shrink: 0;
        }
      }
    }
    .history__total {
      position: relative;
      padding: $padding01;
      display: flex;
      justify-content: space-between;
      @include topLine($color-grey02);
    }
  }
}
