@import "../abstracts/variables";
@import "../abstracts/mixin";

.section-register {
  .section-register__title {
    position: relative;
    line-height: 3.5rem;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: "";
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      background-color: $color-grey02;
    }
  }

  label {
    color: $color-grey02;
  }

  .register__form {
    .terms-form,
    .email-form,
    .id-form,
    .nick-name-form,
    .pw-form {
      margin: $margin-bottom04 0;
    }

    .terms-form {
      .terms-form__required,
      .terms-form__optional {
        .required__terms,
        .optional__terms {
          position: relative;
          @include bottomLine();
        }

        .terms__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .terms__terms-title {
          width: 100%;
        }

        .terms__more-btn {
          flex-shrink: 0;
          background-color: transparent;
          color: $color-grey02;
          border: none;
          margin-right: 0;
        }

        .terms__content {
          font-size: $font-size-sm2;
          padding: 5px 0;
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }

  }
}
