@import './variables';

@mixin fontSize($fs: $font-size-sm2, $fw: 800) {
  font-size: $fs;
  font-weight: $fw;
}

@mixin validation () {
  &.hide{
    display: none;
  }
  &.valid{
    display: block;
    color: $color-green;
  }
  &.invalid{
    color: $color-red;
    display: block;
  }
}

@mixin bottomLine($clr: $color-grey01) {
  &::after{
    position: absolute;
    bottom: 0;
    content: '';
    background-color: $clr;
    width: 100%;
    height: 2px;
  }
}

@mixin positionAbsoluteCenter(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonPrimary(){
  font-size: $font-size-h2;
  width: 40%;
  margin: 0;
  padding: $padding01;

}

@mixin buttonSecondary(){
  background-color: $color-light-blue;
  border: solid 1px $color-light-blue;
  color: $color-white;
  font-size: $font-size-sm2;
}