<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div style='margin:100px;'>
            <h1> 안녕하세요 GGOMGGOM입니다. </h1>
            <br>
            <p>아래 인증번호를 회원가입 창으로 돌아가 입력해주세요<p>
            <br>
            <p>감사합니다!<p>
            <br>
            <div align='center' style='border:1px solid black; font-family:verdana';>
                <h3 style='color:blue;'>회원가입 인증번호입니다.</h3>
                <div style='font-size:130%'>
                    <span>인증번호 : </span><strong th:text="${OTP}"></strong>
                <div>
                    <br/>
                </div>
            </div>
        </div>
    </body>
</html>